@model MvcCRUD.Models.Personel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
   Personel  Silme İşlemi 
</h2>


<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Adı")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonelAd)
        </dd>

        <dt>
            @Html.DisplayName("Soyadı")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonelSoyad)
        </dd>

        <dt>
            @Html.DisplayName("Pozisyon")
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.PersonelPozisyon)
        </dd>

        <dt>
            @Html.DisplayName("Telefon")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonelTelefon)
        </dd>

        <dt>
            @Html.DisplayName("Mail")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonelMail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
